/* 
Reset
*/
    *{    
        /* Supprimer tous les padding et tous le margine de TOUTES les balises */
        padding: 0;
        margin: 0;

        /* Intégrer les padding et les boder dasn la taille des blocs */
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* Ramener la valeur de 1 à 10px */
    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.5rem;
        padding: 4rem;
    }

    a{
        color: inherit;
        text-decoration: none;
    }
    
    img{
        max-width: 100%;
    }

    /* Donner un display aux balises Angular utilisées dasn le CSS */
    app-register-form{
        display: block;
    }
/**/


/* 
Style global
*/
    button{
        display: block;
    }

    label span{
        color: purple;
    }
/**/

/* 
Style loginForm/registerForm
*/
    h2 + form{
        height: 0;
        overflow: hidden;

        transition: all .3s;
    }

    h2 + form.open {
        height: 21rem;
    }

    app-register-form h2 + form.open {
        height: 51rem;
    }
/**/
